{% extends "::base.html.twig" %}

{% block title %}the matthew6 project{% endblock %}

{% block body %}
    <div class="row">
        <div class="large-7 large-offset-1 columns">
            <p style="font-family: existencelight, sans-serif, serif; font-size: 20px;">
                "Therefore do not be anxious, saying, 'What shall we eat?' or 'What shall we drink?' or
                'What shall we wear?'"
            </p>
        </div>
    </div>
    <div class="row" style="padding-top: 60px;">
        <div class="large-7 large-offset-4 columns">
            <p style="font-family: existencelight, sans-serif, serif; font-size: 20px; text-align: right;">
                "But seek first the kingdom of God and his righteousness, and all these things will be
                added to you."
            </p>
        </div>
    </div>
    <div class="row" style="padding-top: 60px;">

    </div>

{% endblock %}